image: openjdk:10-jdk

# Disable the Gradle daemon for Continuous Integration servers as correctness
# is usually a priority over speed in CI environments. Using a fresh
# runtime for each build is more reliable since the runtime is completely
# isolated from any previous builds.
variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

cache:
  paths:
    - .gradle

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

build:
  stage: build
  tags:
    - dockerex
  script: ./gradlew --build-cache assemble
  artifacts:
    paths:
      - build/

test:
  stage: test
  tags:
    - dockerex
  script: ./gradlew check
  
deploy:
  stage: deploy
  tags:
    - dockerex
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker build --pull -t titan-ccp-aggregation .
    - docker tag titan-ccp-aggregation industrialdevops/titan-ccp-aggregation:latest
    - docker tag titan-ccp-aggregation industrialdevops/titan-ccp-aggregation:$CI_COMMIT_SHA
    - docker login -u $DOCKERHUB_ID -p $DOCKERHUB_PW
    - docker push industrialdevops/titan-ccp-aggregation:latest
    - docker push industrialdevops/titan-ccp-aggregation:$CI_COMMIT_SHA